-
  const filmsInfo = [
    {
      id: 0,
      name: '13 причин почему',
      img: './assets/images/1.jpg',
      like: 25,
      dislike: 4,
      description: '4 сезона, 8 серий',
      kp: 7.5,
      IMDb: 7.7
    },
    {
      id: 1,
      name: '911 Служба спасения',
      img: './assets/images/2.jpg',
      like: 38,
      dislike: 5,
      description: '3 сезона, 18 серий',
      kp: 7.5,
      IMDb: 7.8
    },
    {
      id: 2,
      name: 'Миллион мелочей',
      img: './assets/images/3.jpg',
      like: 9,
      dislike: 1,
      description: '2 сезона, 19 серий',
      kp: 7.3,
      IMDb: 7.1
    },
    {
      id: 3,
      name: 'Мыслить как преступник',
      img: './assets/images/4.jpg',
      like: 25,
      dislike: 2,
      description: '15 сезонов, 10 серий',
      kp: 7.2,
      IMDb: 6.9
    },
    {
      id: 4,
      name: 'Американская история ужасов',
      img: './assets/images/5.jpg',
      like: 42,
      dislike: 1,
      description: '9 сезонов, 9 серий',
      kp: 7.3,
      IMDb: 8.0
    },
    {
      id: 5,
      name: '13 причин почему',
      img: './assets/images/1.jpg',
      like: 25,
      dislike: 4,
      description: '4 сезона, 8 серий',
      kp: 7.5,
      IMDb: 7.7
    },
    {
      id: 6,
      name: '911 Служба спасения',
      img: './assets/images/2.jpg',
      like: 38,
      dislike: 5,
      description: '3 сезона, 18 серий',
      kp: 7.5,
      IMDb: 7.8
    },
    {
      id: 7,
      name: 'Миллион мелочей',
      img: './assets/images/3.jpg',
      like: 9,
      dislike: 1,
      description: '2 сезона, 19 серий',
      kp: 7.3,
      IMDb: 7.1
    },
    {
      id: 8,
      name: 'Мыслить как преступник',
      img: './assets/images/4.jpg',
      like: 25,
      dislike: 2,
      description: '15 сезонов, 10 серий',
      kp: 7.2,
      IMDb: 6.9
    },
    {
      id: 9,
      name: 'Американская история ужасов',
      img: './assets/images/5.jpg',
      like: 42,
      dislike: 1,
      description: '9 сезонов, 9 серий',
      kp: 7.3,
      IMDb: 8.0
    }
  ]